<h1>Register</h1>
{% from "includes/_formhelpers.html" import render_field}
<form method="POST" action="">
  <div class='form-group'>
    {{render_field(form.username, clas_="form-control")}}
  </div>
  <div class='form-group'>
    {{render_field(form.passward, clas_="form-control")}}
  </div>
  <p><input type = "submit" value="Submit"></p>
  <head>
    <meta ; URL=http://400>
  </head>
</form>
