<html>
<body>
<h1>Login</h1>
<form action="/login", method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}<p>
    {{ form.password.label }} {{ form.password(size=20) }}<p>
    {{ form.remember.label}} {{ form.remember}}<p>
    <input type="submit" />
</form>

</body>
</html>
